/*
Crescendo v3
Author Dustin Clark 
Jan 2020
*/

/*
------------------------------- Variables
*/
$gap: 15px;

/*
------------------------------- Resets and presets 
*/

*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* 
--------------------------------------Navigation
*/

header {
	width: 100%;
}

.navbar,
.navbar-fluid {
	width: 100%;
}

.nav-list {
	list-style: none;
	width: 100%;
	transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
	position: absolute;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-height: 0;
	overflow: hidden;
	&.mobile-show {
		transition: max-height 0.5s ease;
		max-height: 100%;
	}
}

.nav-icon {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
  > span {
    display: block;
    transform-origin: left center;
    transition: all .25s ease-in-out;
    
    &:not(:last-child) {margin-bottom: 6px;}
  }
  
  &.nav-open {
    > span:first-child {transform: rotate(45deg);}
    > span:nth-child(2) {opacity: 0;}
    > span:last-child {transform: rotate(-45deg);
    }
  }
}

@media (min-width: 768px) {
	.navbar,
	.navbar-fluid {
		justify-content: space-between;
		align-items: center;
		display: flex;
	}
	.nav-list {
		flex-direction: row;
		justify-content: flex-end;
		width: auto;
		max-height: 100%;
		position: unset;
	}
	.nav-icon {
		display: none;
	}
}

/*
----------------------------------- Hero
*/
.hero {
	display: flex;
	flex-direction: column;
	width: 100%;
}

/*
----------------------------------- Fold
*/
.fold {
	cursor: pointer;
	&.folded {
		.fold-icon {
			display: inline;
		}
		.unfold-icon {
			display: none;
		}
	}
	&.unfolded {
		.fold-icon {
			display: none;
		}
		.unfold-icon {
			display: inline;
		}
	}
}
.to-fold {
	overflow: hidden;
	&.folded {
		max-height: 0;
		transition: max-height 1s cubic-bezier(0, 1, 0, 1);
	}
	&.unfolded {
		max-height: 99em;
		transition: max-height 1s ease-in;
	}
}

/*
------------------------------------ Grids
*/
.grid,
.grid-fluid,
[class^="col"] {
	display: flex;
	flex-direction: column;
}

[class^="col"] {
	margin: calc(#{$gap}/ 2);
}

/*
------------------------------------ Row
*/
.row {
	display: flex;
	flex-wrap: wrap;
	margin: calc(#{$gap} / -2);
	&:not(:last-of-type) {
    margin-bottom: calc(#{$gap} / 2);
  }
}

/*
---------------------------------------- Utilities
*/
.true-center {
	align-items: center;
	justify-content: center;
	text-align: center;
}
/* centers both veritically and horizontally */

.hcenter {
	align-items: center;
}
/* use on column flex boxes to center content horizontally */

.right {
	align-items: flex-end;
}
/* use on column flex boxes to float right */

.left {
	align-items: flex-start;
}
/* use on column flex boxes to float left */

.vcenter {
	justify-content: center;
}
/* centers flex items based on flex direction */

.start {
	justify-content: flex-start;
}
/* use on flex boxes to shift items up or left, depeding on direction */

.end {
	justify-content: flex-end;
}
/* use on flex boxes to shift items down or right, depeding on direction */

/*
------------------------------------ Media queries

------------------------------------ xs screens 0 - 575
*/
@media (min-width: 0) {
	.col-12 {
		flex-basis: calc(100% - #{$gap});
	}
	.col-xs-11 {
		flex-basis: calc((100% * 11 / 12) - #{$gap});
	}
	.col-xs-10 {
		flex-basis: calc((100% * 10 / 12) - #{$gap});
	}
	.col-xs-9 {
		flex-basis: calc((100% * 9 / 12) - #{$gap});
	}
	.col-xs-8 {
		flex-basis: calc((100% * 8 / 12) - #{$gap});
	}
	.col-xs-7 {
		flex-basis: calc((100% * 7 / 12) - #{$gap});
	}
	.col-xs-6 {
		flex-basis: calc((100% * 6 / 12) - #{$gap});
	}
	.col-xs-5 {
		flex-basis: calc((100% * 5 / 12) - #{$gap});
	}
	.col-xs-4 {
		flex-basis: calc((100% * 4 / 12) - #{$gap});
	}
	.col-xs-3 {
		flex-basis: calc((100% * 3 / 12) - #{$gap});
	}
	.col-xs-2 {
		flex-basis: calc((100% * 2 / 12) - #{$gap});
	}
	.col-xs-1 {
		flex-basis: calc((100% * 1 / 12) - #{$gap});
	}
	.col-xs {
		flex: 1;
	}

	[class^="col-sm"],
	[class^="col-md"],
	[class^="col-lg"],
	[class^="col-xl"] {
		flex-basis: calc(100% - #{$gap});
	}
}

/*
--------------------------------------- sm screens 576 - 767
*/
@media (min-width: 576px) {
	.col-sm-11 {
		flex-basis: calc((100% * 11 / 12) - #{$gap});
	}
	.col-sm-10 {
		flex-basis: calc((100% * 10 / 12) - #{$gap});
	}
	.col-sm-9 {
		flex-basis: calc((100% * 9 / 12) - #{$gap});
	}
	.col-sm-8 {
		flex-basis: calc((100% * 8 / 12) - #{$gap});
	}
	.col-sm-7 {
		flex-basis: calc((100% * 7 / 12) - #{$gap});
	}
	.col-sm-6 {
		flex-basis: calc((100% * 6 / 12) - #{$gap});
	}
	.col-sm-5 {
		flex-basis: calc((100% * 5 / 12) - #{$gap});
	}
	.col-sm-4 {
		flex-basis: calc((100% * 4 / 12) - #{$gap});
	}
	.col-sm-3 {
		flex-basis: calc((100% * 3 / 12) - #{$gap});
	}
	.col-sm-2 {
		flex-basis: calc((100% * 2 / 12) - #{$gap});
	}
	.col-sm-1 {
		flex-basis: calc((100% * 1 / 12) - #{$gap});
	}

	.col-sm {
		flex: 1;
	}
}

/*
---------------------------------------  md screens 768 - 991
*/
@media (min-width: 768px) {
	.col-md-11 {
		flex-basis: calc((100% * 11 / 12) - #{$gap});
	}
	.col-md-10 {
		flex-basis: calc((100% * 10 / 12) - #{$gap});
	}
	.col-md-9 {
		flex-basis: calc((100% * 9 / 12) - #{$gap});
	}
	.col-md-8 {
		flex-basis: calc((100% * 8 / 12) - #{$gap});
	}
	.col-md-7 {
		flex-basis: calc((100% * 7 / 12) - #{$gap});
	}
	.col-md-6 {
		flex-basis: calc((100% * 6 / 12) - #{$gap});
	}
	.col-md-5 {
		flex-basis: calc((100% * 5 / 12) - #{$gap});
	}
	.col-md-4 {
		flex-basis: calc((100% * 4 / 12) - #{$gap});
	}
	.col-md-3 {
		flex-basis: calc((100% * 3 / 12) - #{$gap});
	}
	.col-md-2 {
		flex-basis: calc((100% * 2 / 12) - #{$gap});
	}
	.col-md-1 {
		flex-basis: calc((100% * 1 / 12) - #{$gap});
	}
	.col-md {
		flex: 1;
	}
}

/*
--------------------------------------- lg screens
*/
@media (min-width: 992px) {
	.col-lg-11 {
		flex-basis: calc((100% * 11 / 12) - #{$gap});
	}
	.col-lg-10 {
		flex-basis: calc((100% * 10 / 12) - #{$gap});
	}
	.col-lg-9 {
		flex-basis: calc((100% * 9 / 12) - #{$gap});
	}
	.col-lg-8 {
		flex-basis: calc((100% * 8 / 12) - #{$gap});
	}
	.col-lg-7 {
		flex-basis: calc((100% * 7 / 12) - #{$gap});
	}
	.col-lg-6 {
		flex-basis: calc((100% * 6 / 12) - #{$gap});
	}
	.col-lg-5 {
		flex-basis: calc((100% * 5 / 12) - #{$gap});
	}
	.col-lg-4 {
		flex-basis: calc((100% * 4 / 12) - #{$gap});
	}
	.col-lg-3 {
		flex-basis: calc((100% * 3 / 12) - #{$gap});
	}
	.col-lg-2 {
		flex-basis: calc((100% * 2 / 12) - #{$gap});
	}
	.col-lg-1 {
		flex-basis: calc((100% * 1 / 12) - #{$gap});
	}
	.col-lg {
		flex: 1;
	}

	.grid,
	.navbar {
		max-width: 992px;
		margin: 0 auto;
	}
}
/*
--------------------------------------- xl screens
*/
@media (min-width: 1200px) {
	.col-xl-11 {
		flex-basis: calc((100% * 11 / 12) - #{$gap});
	}
	.col-xl-10 {
		flex-basis: calc((100% * 10 / 12) - #{$gap});
	}
	.col-xl-9 {
		flex-basis: calc((100% * 9 / 12) - #{$gap});
	}
	.col-xl-8 {
		flex-basis: calc((100% * 8 / 12) - #{$gap});
	}
	.col-xl-7 {
		flex-basis: calc((100% * 7 / 12) - #{$gap});
	}
	.col-xl-6 {
		flex-basis: calc((100% * 6 / 12) - #{$gap});
	}
	.col-xl-5 {
		flex-basis: calc((100% * 5 / 12) - #{$gap});
	}
	.col-xl-4 {
		flex-basis: calc((100% * 4 / 12) - #{$gap});
	}
	.col-xl-3 {
		flex-basis: calc((100% * 3 / 12) - #{$gap});
	}
	.col-xl-2 {
		flex-basis: calc((100% * 2 / 12) - #{$gap});
	}
	.col-xl-1 {
		flex-basis: calc((100% * 1 / 12) - #{$gap});
	}

	.col-xl {
		flex: 1;
	}

	.grid,
	.navbar {
		max-width: 1200px;
	}
}
