/* Stylesheet for the Crescendo Demo Page
	By Dustin Clark
--------------------------------------------------
*/

* {
	font-family: 'Abel', sans-serif;
}

nav {
	background-color: #609293;
}

nav a {
	color: #10101A;
	font-size: 2rem;
}

.nav-item:hover {
	background-color: #D3D3D3;
}

#nav-logo {
	height: 4.5rem;
	width: 4.5rem;
	margin-left: .7rem;
}



/* Index Jumbotron
--------------------------------------------------
*/
#home {
	background-image: url('images/crescendoTrees.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	color: #D3D3D3;
	min-height: 100%;
	text-align: justify;
}

#home p {
	text-align: justify;
}








/* Grid Div
--------------------------------------------------
*/
#grid {
	background-color: #D3D3D3;
	color: #10101A;
}

.grid-content {
	background-color: #DA9D7F;
}





/* Buttons Div
--------------------------------------------------
*/
#buttons {
	background-color: #2E2E5C;
	color: #D3D3D3;
}

#buttons .cols-12 {
	font-size: 1.2rem;
}





/* Jumbotrons
--------------------------------------------------
*/
#jumbotron {
	background-color: #609293;
	height: 50%;
}
#jumbo-center {
	background-color: #D3D3D3;
	height: 30%;
}

#jumbo-left {
	background-color: #E3E3E3;
	height: 30%;
}

#jumbo-right {
	background-color: #F3F3F3;
	height: 30%;
}





/* Grid Classes
--------------------------------------------------
*/
#extras {
	background-color: #DA9D7F;
	color: #10101A;;
}

#extras .inner-between,
#extras .inner-around {
	border: 2px solid #10101A;
}


#extras .colm-4 {
	background-color: #D3D3D3;
	height: 15rem;
}






footer {
	background-color: #609293;
	padding: 1rem;
	text-align: center;
}

footer a {
	color: #D3D3D3;
	padding: 0 .5rem;
}

#gitIcon {
	height: 50px;
	width: 50px;
	display: block;
	padding: 0;
	margin: .5rem auto;
}

#gitIcon:hover {
	background-color: #DA9D7F;
}





/* Media Queries
--------------------------------------------------
*/
@media (min-width: 300px) {
	#home {
		padding: 0 4rem;
	}
	
	#nav-logo {
		display: none;
	}
}

@media (min-width: 768px) {
	#home {
		padding: 0 8rem;
	}
	
	#buttons .colm-4 {
		border: 2px solid #DA9D7F;
	}
	
	#nav-logo {
		display: inherit;
	}
}