/* Stylesheet for the Crescendo Demo Page
	By Dustin Clark
--------------------------------------------------
*/

* {
	font-family: 'Abel', sans-serif;
}

body {
	background-image: url('images/crescendoTrees.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

nav a,
.menu-drop a {
	font-size: 1.4rem;
	color: #D3D3D3;
	padding: 1rem;
}

.nav-bar {
	padding: 1rem 0;
}

#nav-logo {
	height: 3.5rem;
	margin-left: 1rem;
}

.menu-icon,
.close-icon {
	height: 2rem;
	margin-right: 1rem;
}

.menu-drop {
	background: rgba(0,0,0,0.8);
}


/* Index Jumbotron
--------------------------------------------------
*/
#home {
	color: #D3D3D3;
	min-height: 100%;
	text-align: justify;
	text-shadow: #000000 0px 5px 10px;
}


/* Documentation 
--------------------------------------------------
*/

#about-container,
#documentation-container {
	background-color: #DA9D7F
}

.answer {
	font-size: 1.5rem;
}


/* Grids
--------------------------------------------------
*/
#grid-container, #gridfw-container {
	background-color: #D3D3D3;
	color: #10101A;
}

.grid-content {
	background-color: #609293;
	padding: 1rem 0;
}


/* Buttons
--------------------------------------------------
*/
#buttons-container {
	background-color: #2E2E5C;
	color: #D3D3D3;
}

#buttons-container hr {
	margin: 1rem auto;
	width: 60%;
}


/* Jumbotrons
--------------------------------------------------
*/
#jumbotron {
	background-color: #609293;
	height: 50%;
}

#jumbo-center {
	background-color: #D3D3D3;
	height: 30%;
}

#jumbo-left {
	background-color: #E3E3E3;
	height: 30%;
}

#jumbo-right {
	background-color: #F3F3F3;
	height: 30%;
}


/* Utilities
--------------------------------------------------
*/
#utilities {
	background-color: #DA9D7F;
	color: #10101A;
}

#utilities .inner-between,
#utilities .inner-around {
	border: 2px solid #10101A;
}


#utilities .colm-4 {
	background-color: #D3D3D3;
	height: 15rem;
	padding: .5rem;
}


/* Footer
--------------------------------------------------
*/
footer {
	background-color: #609293;
	padding: 1rem;
	text-align: center;
}

footer a {
	color: #D3D3D3;
	padding: 0 .5rem;
}

#gitIcon {
	height: 50px;
	width: 50px;
	display: block;
	padding: 0;
	margin: .5rem auto;
}

#gitIcon:hover {
	background-color: #DA9D7F;
}


/* Media Queries
--------------------------------------------------
*/
@media (min-width: 300px) {
	nav {
		background: rgba(0,0,0,0.8);
	}
}

@media (min-width: 768px) {
	nav {
		background-color: transparent;
	}
}