/* Stylesheet for Crescendo 2
	By Dustin Clark
--------------------------------------------------
*/
/*
------------------------------- variables
*/
$black: #0e100d;
$white: #d8d7d8;
$blue: #354051;

/*
------------------------------- Resets and presets 
*/

body {
	font-family: "Scope One", serif;
	color: $black;
}

p {
	font-size: 1.1rem;
}

a {
	text-decoration: none;
}

.grid-container {
	padding: 20px 0;
}

/* 
----------------------------------------Navigation
*/
.nav-logo img {
	width: 50px;
}

header,
.nav-list {
	background-color: $black;
}

nav {
	li {
		padding: 10px;
		a {
			color: $white;
		}
	}
}

.nav-icon {
	color: $white;
	top: 5px;
	right: 5px;
	&--close,
	&--menu {
		font-size: 16px;
	}
}

/* 
----------------------------------Index Hero
*/
#home {
	color: $white;
	min-height: 100%;
	text-shadow: $black 0px 5px 10px;
	font-family: "Heebo", sans-serif;
	p {
		font-size: 1.5rem;
	}
}

/* 
-----------------------------------About 
*/
#about {
	background-color: $white;

	p {
		color: $black;
	}

	img {
		height: 75px;
		width: 75px;
	}

	a {
		font-size: 1.1rem;
		text-decoration: underline;
		color: $black;
	}
}

/*
--------------------------------grids-container
*/

#features {
	padding: 50px 0;
	background-color: $black;
	p {
		color: $white;
	}
	h2 {
		color: $white;
	}
}

.grids {
	background-color: $blue;
	color: $white;
	p {
		color: $white;
	}
}

.grid-content {
	padding: 10px;
	background-color: $black;
}

/*
---------------------------utility-container
*/
#utilities {
	background-color: $white;
	color: $black;
}

.utl {
	background-color: $blue;
	color: $white;
	height: 200px;
	padding: 10px;
}
/*
---------------------------Components
*/
#components {
	background-color: $blue;
	color: $white;

	.fold .col-12,
	.toFold .col-12 {
		background-color: $white;
		color: $black;
		padding: 10px;
	}
}

.fold-title {
	display: flex;
	align-items: center;
	justify-content: center;

	.im-angle-down {
		font-size: 12px;
	}
}

/* 
--------------------------------------Footer
*/
footer {
	background-color: $black;
	padding: 40px;
	text-align: center;
	color: $white;

	a {
		color: $white;
		padding: 0 4px;
		text-decoration: underline;
	}
}

/* 
-------------------------------------Media Queries
*/
@media (min-width: 300px) {
	#home {
		height: 100%;
		background-image: url("images/crescendoTreesMobile.jpg");
		background-attachment: scroll;
		background-position: center;
	}

	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 3rem;
	}

	h3 {
		font-size: 2rem;
	}

	.nav-list {
		box-shadow: 2px 2px 4px $black;
	}
}

@media (min-width: 768px) {
	#home {
		background-image: url("images/crescendoTrees.jpg");
		background-attachment: fixed;
		background-size: cover;
	}

	.nav-list {
		box-shadow: none;
	}

	header {
		position: absolute;
		top: 0;
	}
}
